.container {
  width: 100%;
  background-color: #f2f0ee;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header {
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.heading {
  font-size: 1.25rem;
  margin: 0;
}
