.filters {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;
    grid-template-columns: 87% 12%;
}

.list-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}
